body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    text-align: center;
}

#interactiveButton {
    background-color: #4CAF50; /* Základní barva */
    color: white;
    border: 5px solid grey; /* Základní obrys */
    padding: 20px 50px; /* Větší velikost tlačítka */
    font-size: 24px; /* Větší text */
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
}

#interactiveButton:hover {
    border-color: blue; /* Nový obrys při najetí */
}
